.orange{
    color: orange;
}
.gray{
    color:rgb(87, 86, 86);
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    line-height: 20px;
    font-weight: bolder;
}
#p{
    font-weight: bold;
}
.flexible-container{
    display: flex;
    
}
section{
    margin-bottom: 150px;
}
.width{
    width: 50%;
    padding-left: 6%;
    padding-top: 10%;
}
.weidth-picture{
    width: 50%;
    padding-right: 4%;
}
a{
    background-image: linear-gradient(rgb(255, 130, 108) , rgb(255, 81, 0));
    padding: 23px 45px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 5px 5px 15px tomato; 
}
h2{
    color: gray;
    font-size: 40px;
}
.about-me{
    background-image: url(food-network-main/food-network-main/images/shapes/7.png);
    padding-bottom: 80px;
    padding-top: 20px;
    padding-right: 20px;
}
.my-recipes{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.holdingcontainer{
    width: 100%;
    display: flex;
    background: white;
    padding: 20px 70px 20px ;
    box-sizing: border-box;
}

.internalcontainerL{
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 15px;

    box-shadow: 5px 10px 35px gray;
    margin: 10px;
}
.internalcontainerM{
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 15px;

    box-shadow: 5px 10px 35px gray;
    margin: 10px;
}

.internalcontainerR{
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 15px;

    box-shadow: 5px 10px 35px gray;
    margin: 10px;
}

h4{
    font-size: 28px;
}
.eat-healthy{
    background-color: rgb(1, 1, 26);
    padding-bottom: 90px;
    padding-top: 10px;
    text-align: center;
    font-weight: bolder;
    margin: 0%;
}