.orange{
    color: orange;
}
.gray{
    color:rgb(87, 86, 86);
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 20px;
    font-weight: bolder;
}
section{
    display: flex;

}
.width{
    width: 50%;
    padding-left: 6%;
    padding-top: 10%;
}
.weidth-picture{
    width: 50%;
    padding-right: 4%;
}
a{
    background-image: linear-gradient(rgb(255, 130, 108) , rgb(255, 81, 0));
    padding: 20px 50px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 5px 5px 15px tomato;
    
}